<main class="main">
    <form class="main__form">
        <label for="serie">Introduce aquí la serie que quieres buscar:</label>
        <input type="text" id="serie" class="js-input" placeholder="Ejemplo: Dragon Ball">
        <button class="main__form__button--search js-button-search">Buscar</button>
        <button class="main__form__button--reset js-button-reset">Reset</button>
    </form>
    <div class="main__series js-series-container">
        <section class="main__series__favourites js-favourites-container">
            <h2 class="favourites__title js-favourites-title"></h2>
            <div class="favourites__wrapper js-favourites-wrapper"></div>
        </section>
        <section class="main__series__results js-results-container">
            <h2 class="results__title js-results-title"></h2>
            <div class="results__wrapper js-results-wrapper"></div>
        </section>
    </div>
</main>