.header {
    margin: 10rem 5rem 5rem;
    position: relative;


    @media all and (min-width: 768px) {
        margin: 15rem 10rem 5rem;
    }

    @media all and (min-width: 1200px) {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 0;
        margin-bottom: 15rem;
     }


    &__title {
        font-family: $title_font_family;
        font-size: 3rem;
        line-height: 3.5rem;
        font-weight: 700;
        word-spacing: 1rem;
        width: 25rem;
        text-transform: uppercase;

        @media all and (min-width: 1200px) {
            font-size: 6rem;
            line-height: 6.5rem;
         }
    }

    &__image {
        width: 100%;
        margin: 5rem auto 0rem;
        min-width: 280px;

        @media all and (min-width: 768px) {
            margin-bottom: 5rem;
        }

        @media all and (min-width: 1200px) {
            width: 50%;
            max-width: 900px;
         }
    }
}