.main__series {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 30rem 1fr;
    justify-items: center;
    row-gap: 5rem;
    margin: 5rem;

    &__favourites {
        grid-row: 1;
        border-radius: 10px;
        display: flex;
        padding-right: 5rem;
        max-width: 90vw;
        margin: 0 auto;

        &__title {
            margin: auto;
        }

        .favourites__wrapper {
            display: flex;
            align-items: flex-start;
            padding: 0rem 5rem;
            height: 30rem;
            overflow-x: scroll;
            overflow-y: hidden;
            gap: 2rem;
        }

        .main__series__card {
            width: auto;

            .card__title {
                max-width: 14rem;
                margin: 0 auto;
            
            }

            & .card__img {
                border-radius: 20px;
            }
        }
    }

    &__results {
        grid-row: 2;
        border-radius: 10px;
        width: 90vw;
        display: flex;
        flex-direction: column;
      

        &__title {
            font-size: 3rem;
            margin-bottom: 5rem;
        }

        .results__wrapper {
            display: grid;
            grid-template-columns: repeat(auto-fill, 25rem);
            justify-content: space-between;
            flex-wrap: wrap;
            align-items: flex-start;
            gap: 2rem;
            margin: 0rem 5rem;
        }

        .main__series__card {
            width: auto;

            & .card__img {
                border-radius: 20px;
                width: 25rem;
                height: 34rem;
            }
        }
    }

    &__results,
    &__favourites {
        &__title {
            font-family: $title_font_family;
            text-align: center;
            text-transform: uppercase;
            padding: 3rem;
        }
    }

    &__card {
        display: grid;
        justify-content: center;
        text-align: center;
        row-gap: 1rem;
        width: 50%;
        margin: 2rem auto;
        
        .card__title {
            font-weight: 300;
            font-size: 1.6rem;
            order: 3;
            display: flex;
            justify-content: center;
            align-content: center;
        }

        .card__icon {
            background-color: black;
            width: 3rem;
            padding: 0.5rem 0rem;
            border-radius: 1.5rem;
            margin: 0 auto;
            color: white;
            order: 1;
            position: relative;
            left: 50%;
            top: 80%;
        }

        & .card__img {
            margin: 0 auto;
            order: 2;
            width: 15rem;
            height: 13rem;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: right center;
        
        }

    }
     
}